<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test Suite" verbose="1" >
    <test name="Test of a Test" >
        <classes>
            <class name="TestOne" />
        </classes>
    </test>

    <test name="Test of a second test">
        <classes>
            <class name="TestOne"/>
        </classes>
    </test>
</suite>
